body{
  background-color: #181818;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
}
#container{
  margin-top: 10%;
  display: inline-block;
  transform: scale(1.5);
}
canvas{
  background: #cecece;
  border: 1px solid #181818;
}

#scoreFinal{
    display: none;
}

#bg {
  display:none
}